#root {
    background-color: #0c1216;
}
.navbar {
    color: #fff;
    background-color: #0c121670;
    button:hover {
        cursor: pointer;
    }
    .langbtns {
        border: 1px solid #fff;
    }
}
#greeting-container {
    color: #fff;

    .swipingWords {
        z-index: 0;
        p {
            transform: skew(-5deg, -5deg);
            text-transform: lowercase;
        }
    }
    .typewriter {
        z-index: 1;

        .typewriterText {
            text-align: right;
        }
        #name {
            color: #3c84ff;
            text-align: left;
        }
        .blinking-cursor {
            display: inline-block;
            width: 1ch;
            animation: blink 1s step-end infinite;
            color: #3c84ff;
        }
        @keyframes blink {
            0%, 100% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
        }
    }
}

#main-container {
    max-width: 100vw;
    background-color: #0c1216;

    h2 {
        color: #fff;
        font-size: 3rem;
    }
    #technical-skills {
        margin: 0 1rem;
    }
    #tech, #tool, #design {
        display: flex;
        justify-content: center;
        border: 1px solid #18252d;
        border-radius: 10px;
        background-color: #11191f;
    }
    .skills-section {
        display: flex;
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: space-around;

        .tech-item, .tool-item, .design-item {
            margin: 10px;
            padding: 10px;
            text-align: center;
            height: 75px;
            width: 75px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: transparent;

            h3 {
                color: #fff;
            }
        }
    }

    #projects {
        color: #fff;

        h2 {
            margin-left: 1rem;
        }
        #projects > div {
            display: flex;
        }
        .project-item {
            margin: 1rem 0;
            display: flex;
            justify-content: space-between;

            .project-img {
                aspect-ratio: auto;
                width: 100%;
                background-color: #1d4d71;
                padding: 1rem;
                border-radius: 0 10px 10px 0;
                display: flex;
                align-items: center;

                img {
                    height: fit-content;
                }
            }

            .project-details {
                width: 45%;
                span {
                    display: flex;
                    justify-content: space-between;

                    h3 {
                        display: flex;
                        justify-content: space-between;
                    }
                    .repo-link {
                        font-size: 13px;
                        text-transform: uppercase;
                        color: #fff;
                        font-weight: 500;
                        border-bottom: 5px solid #3c84ff;
                        transform: 0.15s ease-in-out;
                    }
                }
            }
        }
        .project-item:nth-of-type(even) {
            flex-direction: row-reverse;
            border-right: 0;
            background-color: #11191f;
            border-top: 1px solid #18252d;
            border-bottom: 1px solid #18252d;

            .project-img {
                border-radius: 10px 0 0 10px;
            }
        }
    }

    #experience {

        h2 {
            margin-left: 1rem;
        }
        #jobs {
            color: #fff;
            margin-top: 2vh;
            padding: 0 2rem 1rem 2rem;

            .jobs-item {
                margin: 1vh 0;
                border: 1px solid #768082;
                border-radius: 8px;
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .project-item,
    #main-container #projects .project-item:nth-of-type(even) {
        flex-direction: column;
    }
    #main-container #projects .project-item .project-details,
    #main-container #projects .project-item:nth-of-type(even) .project-details {
        width: 100%;
        margin-bottom: 1rem;
        padding-top: 1rem;
    }
}
